<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Summarization</title>
</head>
<body>
    <h1>Text Summarization</h1>
    <form id="summarize-form">
        <label for="text">Enter Text to Summarize:</label><br>
        <textarea id="text" name="text" rows="10" cols="50"></textarea><br>
        <button type="submit">Summarize</button>
    </form>
    <br>
    <br>
    <h1>Upload an Image</h1>
    <form id="uploadIMG" enctype="multipart/form-data">
        <input type="file" name="image" id="imageInput" accept="image/*">
        <button type="submit">Upload</button>
    </form>
    <br>
    <br>
    <div id="summary"></div>


    <!-- script for summary api -->
    <script>
        document.getElementById("summarize-form").addEventListener("submit", function(event) {
            event.preventDefault();
            var formData = new FormData(this);
            var text = formData.get("text");

            fetch("/summarize", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    text: text
                })
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById("summary").innerHTML = "<h2>Summary:</h2><p>" + data.summary + "</p>";
            })
            .catch(error => {
                console.error("Error:", error);
            });
        });
    </script>
    <!-- script for imag to text -->
    <script>
        document.getElementById("uploadIMG").addEventListener("submit", function(event) {
            event.preventDefault();
            var formData = new FormData();
            var fileInput = document.getElementById('imageInput');
            formData.append('image', fileInput.files[0]);

            fetch('/uploadIMG', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                document.getElementById('summary').innerText = data.message;
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    </script>
</body>
</html>
