<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compartible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../staic/css/index.css">
    <title>D U S H | WELCOME </title>
</head>
<body onload="playAudio()">
    <script src="main.js"></script>
    <div class="container">
    <div class ="dush-flex">
        <svg width="104" height="104" viewBox="0 0 104 104" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M28.0511 25.3342L61.8448 26.5595L26.0212 59.0892L28.0511 25.3342Z" fill="#003366"/>
            <path d="M26.0519 58.9207L61.524 26.7101L59.6505 60.2842L26.0519 58.9207Z" fill="#003366"/>
            <rect x="56.4181" y="67.4512" width="15" height="15" rx="7.5" transform="rotate(-42.2411 56.4181 67.4512)" fill="#003366"/>
            </svg>
    <br>
    <h2>Welcome To DUSH</h2>
    </div>
    <br>
    <form action="/submit_login_details" method="post" class="hform">
        <div class="form-group">
            <i><strong><label for="username">Username:</label></strong></i>
            <input type="text" class="form-control" name="username" id="username" placeholder="Enter your username" required>
        </div>
        <div class="form-group">
            <i><strong><label for="password">Password:</label></strong></i>
            <input type="password" class="form-control" name="password" id="password" placeholder="Enter your password" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>

    </form>


<form action="/signup" method="post" class="hform">
        <div class="form-group">
            <i><strong><label for="username">Username:</label></strong></i>
            <input type="text" class="form-control"name="username" placeholder="Enter your username" required>
        </div>
        <div class="form-group">
            <i><strong><label for="useremail">Email:</label></strong></i>
            <input type="email" class="form-control" name="useremail" placeholder="Enter your Email" required>
        </div>
        <div class="form-group">
            <i><strong><label for="password">Password:</label></strong></i>
            <input type="password" class="form-control" name="password" placeholder="Enter your password" required>
        </div>
        <div class="form-group">
            <i><strong><label for="rpt-password">Repeat Password:</label></strong></i>
            <input type="password" class="form-control" name="rpt-password" placeholder="Enter your password again" required>
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>

    </form>

    <!-- <form id="summarize-form" class="welcome-form">
        <label for="text" class="wl-form-label">Enter Text to Summarize:</label><br>
        <textarea id="text" name="text" rows="10" cols="50" class="wl-form-text"></textarea><br>
        <button type="submit" class="wl-form-submit">Summarize</button>
    </form> -->

    </body>
</html>